$font-title-logo: Shrikhand, sans-serif;
$font-txt: Roboto, sans-serif;
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-bg-grey: #F3F3F3;
$color-bg-lightgrey: #FAFAFA;

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

a ol li {
    text-decoration: none;
    list-style: none;
}
body {
    font-family: $font-txt;
}

.loader {
    position: absolute;
    margin:auto;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width: 24px;
    height: 24px;
    display: grid;
    animation: spin 3s infinite;
    &:before, &:after {
        content: "";
        grid-area: 1/1;
        border: 3.8px solid;
        border-radius: 50%;
        border-color: $color-secondary $color-tertiary $color-primary $color-tertiary;
        mix-blend-mode: darken;
        animation: spin 3s infinite linear;
    }
    &:after {
        border-color: $color-tertiary $color-secondary $color-tertiary $color-secondary;
        animation-direction: reverse;
    }
    
}

@keyframes spin {
    100% {
        transform: rotate(1turn);
    }
}



  