* {
  margin: 0;
  padding: 0;
}

a ol li {
  text-decoration: none;
  list-style: none;
}

ul {
  margin-block: 0;
}

body {
  font-family: Roboto, sans-serif;
}

.icon {
  fill: transparent;
  stroke: lightgrey;
  stroke-width: 5;
  cursor: pointer;
  position: relative;
}
.icon svg {
  overflow: visible;
  width: 30px;
}
.icon path {
  stroke-dashoffset: 0;
  transform-origin: center;
}
.icon .heart-background {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  stroke: none;
}
.icon .heart-main:hover path {
  -webkit-animation: stroke-animation 2s ease-in-out forwards;
          animation: stroke-animation 2s ease-in-out forwards;
}
.icon .heart-main:hover ~ .heart-background path {
  -webkit-animation: fade-animation 2s ease-in-out forwards;
          animation: fade-animation 2s ease-in-out forwards;
}

@-webkit-keyframes stroke-animation {
  0% {
    stroke-dashoffset: 0;
  }
  30% {
    stroke-dashoffset: 155;
  }
  60% {
    stroke-dashoffset: 310;
    fill: transparent;
    transform: scale(1);
  }
  80% {
    fill: #FF79DA;
    transform: scale(1.1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    stroke-dashoffset: 310;
    fill: #FF79DA;
  }
}

@keyframes stroke-animation {
  0% {
    stroke-dashoffset: 0;
  }
  30% {
    stroke-dashoffset: 155;
  }
  60% {
    stroke-dashoffset: 310;
    fill: transparent;
    transform: scale(1);
  }
  80% {
    fill: #FF79DA;
    transform: scale(1.1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    stroke-dashoffset: 310;
    fill: #FF79DA;
  }
}
@-webkit-keyframes fade-animation {
  70% {
    fill: transparent;
    transform: scale(1);
  }
  80% {
    fill: #FF79DA;
    transform: scale(1.1);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}
@keyframes fade-animation {
  70% {
    fill: transparent;
    transform: scale(1);
  }
  80% {
    fill: #FF79DA;
    transform: scale(1.1);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}
.header {
  margin: 0 auto;
  text-align: center;
}
.header h1 {
  font-family: Shrikhand, sans-serif;
}

.footer {
  background-color: #353535;
}
.footer .container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
@media screen and (min-width: 769px) {
  .footer .container .footer__logo {
    display: flex;
    justify-content: center;
  }
  .footer .container .footer__items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}
.footer .container .footer__logo {
  color: white;
  font-family: Shrikhand, sans-serif, "cursive";
  margin: 0;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.footer .container .footer__items {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer .container .footer__items .footer__items__item {
  margin: 0.5rem 0;
}
.footer .container .footer__items .footer__link {
  color: white;
  text-decoration: none;
}

.loaderWrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: whitesmoke;
  opacity: 0.6;
  z-index: 1000;
}

.loader {
  overflow: auto;
  margin: auto;
  position: absolute;
  z-index: 1001;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-animation: rotate 1s infinite;
          animation: rotate 1s infinite;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  height: 50px;
  width: 50px;
}
.loader:before, .loader:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}
.loader:before {
  -webkit-animation: ball1 1s infinite;
          animation: ball1 1s infinite;
  background-color: #FF79DA;
  box-shadow: 30px 0 0 #f8b334;
  margin-bottom: 10px;
}
.loader:after {
  -webkit-animation: ball2 1s infinite;
          animation: ball2 1s infinite;
  background-color: #00a096;
  box-shadow: 30px 0 0 #99E2D0;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(0.8);
    -moz-transform: rotate(0deg) scale(0.8);
  }
  50% {
    -webkit-transform: rotate(360deg) scale(1.2);
    -moz-transform: rotate(360deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.8);
    -moz-transform: rotate(720deg) scale(0.8);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(0.8);
    -moz-transform: rotate(0deg) scale(0.8);
  }
  50% {
    -webkit-transform: rotate(360deg) scale(1.2);
    -moz-transform: rotate(360deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.8);
    -moz-transform: rotate(720deg) scale(0.8);
  }
}
@-webkit-keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #9356DC;
  }
  50% {
    box-shadow: 0 0 0 #9356DC;
    margin-bottom: 0;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #9356DC;
    margin-bottom: 10px;
  }
}
@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #9356DC;
  }
  50% {
    box-shadow: 0 0 0 #9356DC;
    margin-bottom: 0;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #9356DC;
    margin-bottom: 10px;
  }
}
@-webkit-keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #99E2D0;
  }
  50% {
    box-shadow: 0 0 0 #99E2D0;
    margin-top: -20px;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #99E2D0;
    margin-top: 0;
  }
}
@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #99E2D0;
  }
  50% {
    box-shadow: 0 0 0 #99E2D0;
    margin-top: -20px;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #99E2D0;
    margin-top: 0;
  }
}
#loader-block {
  /* Firefox */
  -webkit-animation: hideLoader 0s ease-in 3s forwards;
  /* Safari and Chrome */
  /* Opera */
  animation: hideLoader 0s ease-in 3s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes hideLoader {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
  }
}
@-webkit-keyframes hideLoader {
  to {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}
header {
  padding: 15px;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: #F3F3F3;
  gap: 5px;
}
.location h2 {
  font-family: Roboto, sans-serif;
}

.about {
  text-align: center;
  background: #FAFAFA;
  padding: 1.5rem;
  height: 250px;
}
.about .about__subtitle {
  font-weight: 300;
  margin: 2.3rem 0;
}
.about .about__btn {
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 1rem;
  margin-top: 50px;
  border-radius: 30px;
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 90%);
}
.about .about__btn:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  background: #ff7edb;
  transition: 1s ease-in-out;
}

.step {
  display: flex;
  justify-content: center;
  align-items: center;
}
.step .step__wrapper {
  margin-top: 50px;
}

.step__items {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: compteListe;
}

.step__items__item {
  padding: 1.5rem;
  margin: 1rem 0 1rem 0.75rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  border-radius: 1.25rem;
  background-color: #f6f6f6;
  display: flex;
  position: relative;
}
.step__items__item:before {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  background: #9356DC;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 0;
  left: 0;
  position: absolute;
  transform: translate(-50%, 50%);
}
.step__items__item:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}
.step__items__item .step__icon {
  margin-right: 10px;
}

.restaurants {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto 0 auto;
  background: #FAFAFA;
}
.restaurants .container {
  max-width: 1280px;
  margin: auto;
  padding-bottom: 50px;
  position: relative;
}
.restaurants .container .restaurants__title {
  margin: 20px auto;
}
.restaurants .container .cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 2rem;
}
@media screen and (min-width: 769px) {
  .restaurants .container .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}
.restaurants .container .cards .card {
  background-color: white;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  transition: 0.2s;
}
.restaurants .container .cards .card__img {
  height: 12rem;
  width: 100%;
  border: 0px solid transparent;
  border-radius: 1rem 1rem 0 0;
  box-shadow: none;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants .container .cards .card__badge {
  background-color: #99E2D0;
  color: #1b6150;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}
.restaurants .container .cards .card__footer {
  padding: 1rem;
  position: relative;
  display: flex;
  align-items: center;
}
.restaurants .container .cards .card__content {
  flex: 1;
}
.restaurants .container .cards .card__title {
  margin: 0;
  margin-bottom: 0.25rem;
}

@media screen and (min-width: 769px) {
  .step__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
  .step__items .step__title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.RestaurantImg {
  max-width: 100%;
  max-height: 32rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.menu__header {
  font-family: Shrikhand, sans-serif, "cursive";
  padding: 1rem 2rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__header .menu__title {
  font-family: Shrikhand, sans-serif, "cursive";
}

.menu__btn {
  height: 2rem;
  width: 2rem;
  background-color: transparent;
  border: transparent 0px solid;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  background-color: black;
}
.menu__btn:before {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
}

.submenus {
  display: grid;
}

.submenu {
  max-width: 100%;
  overflow: hidden;
  padding: 8rem 1rem;
}

.submenu__title {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 0.5rem;
  margin: -75px 0;
  font-weight: normal;
}
.submenu__title:after {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.menuItem {
  padding: 1rem;
  display: flex;
  border-radius: 0.75rem;
  margin: 20px 0;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  -webkit-animation: itemDisplay 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
          animation: itemDisplay 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  transform: scale(0);
  max-width: 100%;
}

.delay-0 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.delay-1 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.delay-2 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.delay-3 {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.delay-4 {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.delay-5 {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.delay-6 {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.delay-7 {
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

.delay-8 {
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}

.menuItem__header {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
}

.menuItem__price {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 0.5rem;
}

.menuItem__confirmation {
  background-color: #99E2D0;
  margin: -1rem -5rem -1rem 1rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}

.menuItem__wrapIcon {
  height: 1.6rem;
  width: 1.6rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(180deg);
  transition-duration: 0.5s;
}

.menuItem__icon {
  color: #99E2D0;
}

.fa-check:before {
  content: "";
}

.wrapBtn {
  display: flex;
  text-decoration: none;
  justify-content: center;
  padding: 3rem 0;
}

.commandBtn {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: white;
  background-color: #686868;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9) 0%, rgba(255, 121, 218, 0.9) 100%);
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

@-webkit-keyframes itemDisplay {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100px);
  }
}

@keyframes itemDisplay {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100px);
  }
}/*# sourceMappingURL=index.css.map */